body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-color: white;
  color: black;
}

.card {
  width: 400px;
  margin: 100px auto;
  padding: 30px;

  text-align: center;

  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
